body {
  background-color: #F6FBF4;
  color: #40514E;
  margin: 0;
  font-family: 'Merriweather', serif;
  font-size: 150%;
}
.aa{
    background-color: #CDF0EA;
  text-align: center;
  position: relative;
  padding-top: 50px;
}

.topimg1
{
  position: absolute;
  left: 300px;
  top: 80px;
}
